In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
#https://towardsdatascience.com/your-first-neural-network-in-pytorch-725631ae0fc

In [12]:
iris = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/data/iris.csv')
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [13]:
iris.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [15]:
iris.groupby('Name').describe()

                SepalLength                                              \
                      count   mean       std  min    25%  50%  75%  max
Name
Iris-setosa            50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor        50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica         50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

                SepalWidth         ... PetalLength      PetalWidth         \
                     count   mean  ...         75%  max      count   mean
Name                               ...
Iris-setosa           50.0  3.418  ...       1.575  1.9       50.0  0.244
Iris-versicolor       50.0  2.770  ...       4.600  5.1       50.0  1.326
Iris-virginica        50.0  2.974  ...       5.875  6.9       50.0  2.026


                      std  min  25%  50%  75%  max
Name
Iris-setosa      0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [16]:
mappings = {
   'Iris-setosa': 0,
   'Iris-versicolor': 1,
   'Iris-virginica': 2
}
iris['Name'] = iris['Name'].apply(lambda x: mappings[x])

In [17]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Name
0          5.1         3.5          1.4         0.2     0
1          4.9         3.0          1.4         0.2     0
2          4.7         3.2          1.3         0.2     0
3          4.6         3.1          1.5         0.2     0
4          5.0         3.6          1.4         0.2     0

In [18]:
iris.groupby('Name').describe()

     SepalLength                                             SepalWidth  \
           count   mean       std  min    25%  50%  75%  max      count
Name
0           50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8       50.0
1           50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0       50.0
2           50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9       50.0

             ... PetalLength      PetalWidth                                  \
       mean  ...         75%  max      count   mean       std  min  25%  50%
Name         ...
0     3.418  ...       1.575  1.9       50.0  0.244  0.107210  0.1  0.2  0.2
1     2.770  ...       4.600  5.1       50.0  1.326  0.197753  1.0  1.2  1.3
2     2.974  ...       5.875  6.9       50.0  2.026  0.274650  1.4  1.8  2.0


      75%  max
Name
0     0.3  0.6
1     1.5  1.8
2     2.3  2.5

[3 rows x 32 columns]

In [19]:
X = iris.drop('Name', axis=1).values
y = iris['Name'].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = torch.FloatTensor(X_train)
X_test = torch.FloatTensor(X_test)
y_train = torch.LongTensor(y_train)
y_test = torch.LongTensor(y_test)

In [22]:
X_train[:3]

tensor([[4.6000, 3.6000, 1.0000, 0.2000],
        [5.7000, 4.4000, 1.5000, 0.4000],
        [6.7000, 3.1000, 4.4000, 1.4000]])

In [23]:
y_train[:3]

tensor([0, 0, 1])

In [33]:
class ANN(nn.Module):
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(in_features=4, out_features=16)
        self.fc2 = nn.Linear(in_features=16, out_features=12)
        self.output = nn.Linear(in_features=12, out_features=3)
    
    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.output(x)
        return x

In [34]:
model = ANN()
model

ANN(
  (fc1): Linear(in_features=4, out_features=16, bias=True)
  (fc2): Linear(in_features=16, out_features=12, bias=True)
  (output): Linear(in_features=12, out_features=3, bias=True)
)

In [35]:
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [36]:
%%time
epochs = 100
loss_arr = []
for i in range(epochs):
   y_hat = model.forward(X_train)
   loss = criterion(y_hat, y_train)
   loss_arr.append(loss)
 
   if i % 10 == 0:
       print(f'Epoch: {i} Loss: {loss}')
 
   optimizer.zero_grad()
   loss.backward()
   optimizer.step()

Epoch: 0 Loss: 1.1083999872207642
Epoch: 10 Loss: 0.8317091464996338
Epoch: 20 Loss: 0.47312065958976746
Epoch: 30 Loss: 0.29335421323776245
Epoch: 40 Loss: 0.15963959693908691
Epoch: 50 Loss: 0.09282132238149643
Epoch: 60 Loss: 0.07100081443786621
Epoch: 70 Loss: 0.06352565437555313
Epoch: 80 Loss: 0.06024404242634773
Epoch: 90 Loss: 0.05841391161084175
CPU times: user 123 ms, sys: 9.41 ms, total: 132 ms
Wall time: 288 ms

In [37]:
preds = []
with torch.no_grad():
   for val in X_test:
       y_hat = model.forward(val)
       preds.append(y_hat.argmax().item())

In [40]:
df = pd.DataFrame({'Y': y_test, 'YHat': preds})
df['Correct'] = [1 if corr == pred else 0 for corr, pred in zip(df['Y'], df['YHat'])]
df.head()

   Y  YHat  Correct
0  1     1        1
1  0     0        1
2  2     2        1
3  1     1        1
4  1     1        1

In [39]:
df['Correct'].sum() / len(df)

1.0

In [47]:
for coeff in model.parameters():
    print(coeff)

Parameter containing:
tensor([[ 0.5995,  0.9221,  0.0185, -0.1045],
        [ 0.8786,  0.2146, -0.8884, -0.6937],
        [-0.2673, -0.3511,  0.4017,  0.0943],
        [ 0.7528,  0.6937, -0.4179, -0.9780],
        [-0.1641, -0.2276,  0.8625,  1.0309],
        [ 0.0738, -0.3253,  0.5694,  0.9658],
        [ 0.0432, -0.4276, -0.1959, -0.4076],
        [ 0.0014, -0.3402,  0.0492, -0.4403],
        [ 0.6641,  0.0311,  0.4729, -0.0538],
        [-0.2154, -0.1274, -0.2839,  0.4080],
        [-0.3138,  0.1974,  0.0214, -0.4698],
        [ 0.2462, -0.6930,  0.4893,  0.2996],
        [ 0.1210, -0.2522,  0.8155,  0.3603],
        [-0.0489, -0.4933, -0.2102, -0.4481],
        [-0.4415, -0.4487,  0.4572,  0.4302],
        [ 0.0227, -0.4728, -0.3811, -0.3411]], requires_grad=True)
Parameter containing:
tensor([ 0.5813,  0.9970, -0.2117,  1.1154, -0.3157, -0.2295,  0.2351,  0.0956,
         0.7689, -0.1493,  0.1543, -0.0528, -0.6209,  0.0146, -0.4325,  0.1156],
       requires_grad=True)
Parameter containing:
tensor([[ 0.0992, -0.4005, -0.0314, -0.3614,  0.3368,  0.5259,  0.1090,  0.0342,
          0.0667,  0.1925, -0.1877,  0.6557,  0.5707, -0.1316,  0.2226, -0.1346],
        [ 0.3495,  0.6695,  0.0609,  0.4051, -0.4224, -0.4851, -0.0708,  0.1062,
          0.2656, -0.0975, -0.2195, -0.5408, -0.1498,  0.1318, -0.0873,  0.0245],
        [-0.1327,  0.2366,  0.2217, -0.2121, -0.0054, -0.2280, -0.1727,  0.1787,
          0.0920,  0.2072, -0.1770,  0.0951, -0.2478, -0.0293, -0.1165, -0.0519],
        [ 0.2235,  0.5457,  0.1172,  0.3793, -0.4292, -0.4603,  0.2279,  0.0263,
         -0.1522, -0.0362, -0.0867, -0.4748, -0.2240, -0.0482,  0.1110, -0.0503],
        [ 0.1767, -0.2119, -0.2007, -0.0247,  0.4899,  0.5639,  0.0831,  0.2164,
          0.6037, -0.1478,  0.0920,  0.2403,  0.4875,  0.0598,  0.1903, -0.2416],
        [-0.1241, -0.1284,  0.1921,  0.0185, -0.1621, -0.1671, -0.2433,  0.0070,
          0.0517, -0.2386,  0.1943,  0.1564, -0.1339,  0.0736,  0.1706, -0.0478],
        [-0.0064,  0.0330, -0.0250, -0.2141,  0.0211,  0.1101, -0.2358, -0.0983,
         -0.1988, -0.2316,  0.1070, -0.3011, -0.0146,  0.0928,  0.1082, -0.1699],
        [-0.1179, -0.1505,  0.0255, -0.1076,  0.0416, -0.0487,  0.0662,  0.0264,
         -0.0610,  0.0500,  0.1026,  0.1696, -0.0662, -0.2148,  0.0959,  0.0554],
        [ 0.2330,  0.5274, -0.0846,  0.6312, -0.5195, -0.2645,  0.0110,  0.1195,
          0.2075, -0.0712, -0.1623, -0.3902, -0.1566,  0.1021,  0.0803,  0.0917],
        [ 0.0199,  0.4471,  0.0551,  0.4581, -0.3446, -0.1171,  0.1237,  0.1071,
         -0.1577, -0.1257, -0.1035, -0.4700, -0.1182, -0.1729,  0.1216,  0.2421],
        [-0.1207,  0.0548, -0.2486, -0.1091, -0.1912, -0.1597, -0.0623,  0.1629,
          0.1466,  0.1795,  0.1424, -0.0082, -0.1201, -0.0135, -0.0255, -0.1632],
        [ 0.3537,  0.7815,  0.2316,  0.5688, -0.3413, -0.5680,  0.0215,  0.0770,
          0.1067,  0.0963,  0.0115, -0.4721, -0.2077, -0.0097,  0.0625,  0.0417]],
       requires_grad=True)
Parameter containing:
tensor([-0.5529,  0.3642, -0.1875,  0.3630,  0.3200,  0.1075,  0.1016, -0.1193,
         0.4039,  0.1066,  0.0624,  0.5200], requires_grad=True)
Parameter containing:
tensor([[-0.4243,  0.5472,  0.0665,  0.2689, -0.3963,  0.0721,  0.1542, -0.0470,
          0.2982,  0.5113,  0.2236,  0.6040],
        [-0.2708,  0.3271, -0.0123, -0.6540,  0.2584, -0.0011, -0.0808,  0.0421,
          0.4954, -0.3861,  0.0010,  0.4996],
        [ 0.6636, -0.5997,  0.2058, -0.3463,  0.4368, -0.2625,  0.0881, -0.1737,
         -0.7586, -0.1058,  0.0226, -0.4609]], requires_grad=True)
Parameter containing:
tensor([-0.4652,  0.5802, -0.4850], requires_grad=True)